@import '../__variables';

.bPlDashboardChangelog {
	width: 100%;

	h3 {
		font-size: 18px;
		font-weight: 600;
		color: $contentColor;
		margin: 0 0 15px 0;
	}

	.changelog {
		position: relative;
		padding: 0 0 0 25px;

		&::before {
			content: '';
			width: 5px;
			height: calc(100% - 10px);
			background: $primaryColor;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			border-radius: 50px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		&.update,
		&.improve,
		&.improvement {
			&::before {
				background: #FF8D28;
			}
		}

		&.fix,
		&.fixing {
			&::before {
				background: #FF383C;
			}
		}

		.list {
			font-size: 18px;
			font-weight: 500;
			list-style-type: none;
			color: $contentColor;
			margin-bottom: 5px;
		}

		.time {
			font-size: 16px;
			line-height: 26px;
			color: #5F6D81;
			margin: 0;
		}
	}
}