.bPlBadge {
	font-size: 10px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.5px;
	padding: 2px 6px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	gap: .5em;

	svg {
		width: 1em;
		height: 1em;
		fill: currentColor;
	}

	&.medium {
		font-size: 12px;
		padding: 4px 8px;
	}
}