@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@300..900&display=swap');

@import '__variables.scss';

.bPlDashboard {
	font-family: "Rubik", sans-serif;
	width: calc(100% + 20px);
	max-width: calc(100% + 20px);
	min-height: 100vh;
	background: #f6f8fa;
	margin: 0 -20px 0 -20px;

	* {
		font-family: "Rubik", sans-serif;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		line-height: 1.5;
	}

	.bPlDashboardContainer {
		width: 100%;
		max-width: 1320px;
		padding: 0 15px;
		margin: 0 auto;
	}

	.bPlDashboardMain {
		padding: 52px 32px;

		.bPlDashboardContainer {
			display: flex;
			flex-direction: column;
			gap: 35px;
			padding: 20px 0;
		}
	}

	.bPlDashboardCard {
		background-color: #fff;
		padding: 24px;
		border-radius: 12px;
	}

	.bPlDashboardButtons {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}