.bPlNotice {
	font-size: 12px;
	line-height: 1.4;
	font-weight: 400;
	display: flex;
	gap: 8px;
	box-sizing: border-box;
	padding: 6px 8px 6px 10px;
	border-left: 3px solid transparent;
	border-radius: 0;

	.icon {
		flex-shrink: 0;
		align-self: start;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.9;
		margin-top: 2px;

		svg {
			width: 15px;
			height: 15px;
		}
	}

	&.info {
		color: #146ef5;
		background-color: #146ef50a;
		border-left-color: #146ef5;
	}

	&.success {
		color: #047857;
		background-color: #10b9810d;
		border-left-color: #10b981;
	}

	&.warning {
		color: #92400e;
		background-color: #f59e0b0d;
		border-left-color: #f59e0b;
	}

	&.danger {
		color: #be123c;
		background-color: #f43f5e0d;
		border-left-color: #f43f5e;
	}

	&.premium {
		font-size: 13px;
		line-height: 1.625;
		font-weight: 500;
		color: #9a3412;
		background-color: #ff7a000d;
		border-left-color: #ff7a00;

		.icon {
			svg {
				width: 18px;
				height: 18px;
				fill: #ff7a00;
			}
		}
	}
}